header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px 0px;
}

.nav-container,
#menu-checkbox {
  display: none;
}

/* #menu-checkbox:checked ~ .nav-container {
  display: block;
} */
.toggle-mobile {
  display: block;
}
.nav-container {
  position: absolute;
  z-index: 99;
  top: 50px;
  right: 15px;
  /* background-color: black; */
}

.nav-menu a {
  display: block;
  color: white;
  background-color: black;
  padding: 10px 20px;
  text-decoration: none;
}
.nav-menu a:hover {
  color: #00adb5;
  transition: 500ms ease-in;
}
.hamburger-menu {
  color: white;
}

.nav-logo img {
  max-width: 80%;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
  .nav-container {
    display: block;
    position: static;
    font-size: 1.5rem;
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
  }
  .nav-menu a {
    background-color: black;
    color: white;
  }
  .nav-logo img {
    margin-left: 10px;
  }
}
