@import url(header.css);
@import url(footer.css);

:root {
  --bgcolor: #eeeeee;
  --secondarybg: #222831;
  --cyan: #00adb5;
  --darkgrey: #393e46;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

/* Utility */
.upcase {
  text-transform: uppercase;
}
.h1size {
  font-size: 2.25rem;
}

.psize {
  font-size: 1.5rem;
}
.fredoka {
  font-family: "Fredoka", sans-serif;
}
.bolded {
  font-weight: 700;
  font-size: 1.625rem;
}
.line-break {
  display: block;
}
.h1color {
  text-align: center;
  font-weight: 700;
  color: var(--cyan);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.card-style {
  border-radius: 0.3125rem;
  border: 1px solid #afafaf;
  background: #eee;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

/* Utility */

/* BUTTONS */
.primarybtn {
  padding: 0.5rem 3rem;
  text-decoration: none;
  font-weight: 700;
  border-radius: 0.3125rem;
  border: 1px solid #fff;
}

.secondarybtn {
  border-radius: 0.3125rem;
  border: 1px solid #000;
  background: #fff;
  color: white;
  -webkit-text-stroke: 1px black;
}
.primarybtn:hover {
  background-color: #00adb5;
  transition: 500ms ease-in;
}
/* BUTTONS */

/* INDEX */
body {
  margin: 0 auto;
  width: 81.25rem;
  font-family: sans-serif, Arial, Helvetica;
}
.hero {
  display: flex;
  justify-content: center;
}
.heroimg {
  background-image: url(/images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 81.25rem;
  min-height: 27.75rem;
}

.overtext {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overtext p {
  color: white;
  max-width: 30rem;
  text-align: center;
  margin-top: 150px;
  font-weight: 400;
}

.overtext a {
  color: white;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
  align-items: center;
  width: 81.25rem;
  /* height: 28.5rem; */
  padding: 1.56rem;
  gap: 3rem;
  margin: 10px 0px;
}

.card p {
  text-align: center;
}

.card img {
  max-width: 95%;
}

.text-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-card a {
  margin-top: 20px;
}

.card-involved {
  background-color: var(--cyan);
  color: white;
}
.card-involved h3 {
  margin: 0rem 1.56rem;
  padding-top: 1rem;
}
.card-involved p {
  color: black;
  margin: 0px 0px 0px 1.56rem;
  padding-bottom: 2rem;
}

/* EXPLORE  */
.forkids-h1 {
  margin: 0px;
}

footer {
  background-color: #000;
  color: white;
}

/* VISIT */
.visit-main1,
.visit-main2,
.visit-main3 {
  text-align: center;
}
.visit-main1 {
  grid-area: main1;
}

.visit-main2 {
  grid-area: main2;
}

.visit-main3 {
  grid-area: main3;
}

.visit-side {
  grid-area: side;
}

.visit-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: auto;
  align-items: center;
  gap: 50px;
  grid-template-areas:
    "main1 main2 main3"
    ". side .";
}

.visit-side p {
  text-align: center;
}
.visit-side img {
  width: 95%;
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 1024px) {
  .card {
    /* height: 27rem; */
  }
  .nav-container {
    font-size: 1.25rem;
  }
  .h1size {
    font-size: 2rem;
  }
  .psize {
    font-size: 1.3rem;
  }
  .bolded {
    font-size: 1.35rem;
  }
}

@media only screen and (max-width: 768px) {
  .heroimg {
    min-height: 23rem;
  }
  .card {
    /* height: 23.5rem; */
  }
  .card img {
    max-width: 100%;
  }
  .nav-container {
    font-size: 1.2rem;
  }
  .h1size {
    font-size: 1.7rem;
  }
  .psize {
    font-size: 1rem;
  }
  .bolded {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  header {
    padding: 10px 15px;
  }
  .overtext p {
    max-width: 20rem;
    margin-top: 110px;
  }
  .nav-logo img {
    max-width: 50%;
  }
  .heroimg {
    min-height: 18rem;
  }
  .card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* height: 30rem; */
    padding: 0px;
    overflow: hidden;
    gap: 28px;
    /* padding: 10px 10px; */
  }
  .card-style-mobile {
    flex-direction: column;
  }
  .text-card {
    padding: 0px 0px;
  }
  .text-card a {
    margin-top: 0px;
  }
  .card img {
    width: 100%;
  }
  .h1size {
    font-size: 1.5rem;
    margin: 20px 0px 0px 0px;
  }
  .psize {
    font-size: 0.9rem;
  }
  .primarybtn {
    padding: 0.25rem 1rem;
  }
  .bolded {
    font-size: 0.7rem;
  }
  .footer-p-size {
    font-size: 0.6rem;
  }
  .card-involved h3,
  .card-involved p {
    margin: 0rem 0.8rem;
  }
  .visit-container {
    display: flex;
    flex-direction: column;
  }
  footer {
    padding-bottom: 10px;
  }
  .social-icons {
    padding-top: 10px;
  }
}
